/* Default Navbar Style */
.navbar-custom {
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .navbar-custom .navbar-nav .nav-link,
  .navbar-custom .navbar-brand {
    color: rgb(245, 242, 242);
  }
  
  .navbar-custom.scrolled {
    background-color: white;
    color: black;
    padding: 10px;
  }
  
  .navbar-custom.scrolled .navbar-nav .nav-link,
  .navbar-custom.scrolled .navbar-brand {
    color: black;
  }
  
  .navbar-custom.scrolled .navbar-toggler-icon {
    background-color: #95a5a6;
  }
  /* .LogoutBtn {
    position: relative;
    cursor: pointer;
  }
  
  .LogoutBtn::after {
    content: "Logout";
    position: absolute;
    bottom: -1.5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 2px 6px;
    font-size: 0.7rem;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
  } */
  
  .LogoutBtn:hover::after {
    opacity: 1;
  }
    
  #brand {
    font-size: 30px;
    font-weight: bold;
  }
  @media (max-width: 480px) {
    #brand {
      font-size: 10px;
      text-align: center;
    }
  }
  .category-link {
    text-decoration: none;
    color: black;
    background-color: red;
  }
  